@import '../../styles/global.scss';

.authPage {
    width: 100%;
    background: url("../../assets/img/auth_bg.jpg") no-repeat center center/cover;
    height: 110vh;
    box-shadow: inset 50px 50px 150px black;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 0;
        background-color: rgba($color: #000000, $alpha: 0.5);
    }

    .box {
        max-width: 466px;
        min-height: 660px;
        background-color: rgba(0, 0, 0, 0.75);
        border-radius: 10px;
        padding: 60px 68px 40px;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);

        h2 {
            font-size: var(--h3-fs);
            line-height: var(--h3-lh);
            margin-bottom: 30px;
            font-weight: 600;
        }

        .ant-form {
            .ant-form-item {
                .ant-input-affix-wrapper {
                    background: #333;
                    position: relative;
                    padding: unset;
                    border-radius: 6px;
                    overflow: hidden;
                    width: 330px;

                    .ant-input-suffix {
                        position: absolute;
                        top: 50%;
                        right: 15px;
                        transform: translateY(-50%);
                    }

                    &.ant-input-affix-wrapper-status-error {
                        border-color: $err-cl;
                    }

                    &:hover {
                        border-color: #fff;
                    }
                }

                .ant-input {
                    width: 330px;
                    box-sizing: border-box;
                    background: #333;
                    padding: 10px 35px 10px 20px;
                    color: #fff;
                    font-size: var(--body16-fs);
                    line-height: var(--body16-lh);

                    &.ant-input-status-error {
                        border-color: $err-cl;
                    }

                    &::-webkit-input-placeholder {
                        color: #8c8c8c;
                    }

                    ::-moz-input-placeholder {
                        color: #8c8c8c;
                    }

                    &:hover {
                        border-color: #fff;
                    }

                    &.ant-input-disabled {
                        color: #ffffffbc;
                    }
                }

                .ant-checkbox-wrapper {
                    .ant-checkbox-checked {
                        .ant-checkbox-inner {
                            border-color: #fff;
                            background-color: #737373;
                        }

                        &::after {
                            border-color: #fff;
                        }
                    }

                    .ant-checkbox {
                        .ant-checkbox-inner {
                            background: #737373;
                            background-color: #737373;
                            border-color: #fff;
                        }
                    }

                    span {
                        color: #8c8c8c;
                        transition: .2s all ease-in-out;
                    }


                    &:hover {
                        .ant-checkbox-inner {
                            border-color: #fff;
                            background-color: #737373;
                        }

                        .ant-checkbox-checked {
                            .ant-checkbox-inner {
                                border-color: #fff;
                                background-color: #737373;
                            }

                            &::after {
                                border-color: #fff;
                            }
                        }

                        span {
                            color: #fff;
                        }
                    }
                }

                .ant-form-item-control-input-content {
                    button {
                        width: 330px;
                        padding: 10px 0;
                        box-sizing: border-box;
                        height: unset;
                        background: $red-cl;
                        transition: .2s all ease-in-out;

                        span {
                            font-size: var(--body16-fs);
                            line-height: var(--body16-lh);
                            font-weight: 600;
                        }

                        &:hover {
                            opacity: .8;
                        }
                    }
                }

                .ant-form-item-explain-error {
                    color: $err-cl;
                }
            }

            .labelForm {
                color: #e6e4e4;
                font-size: var(--body16-fs);
                line-height: var(--body16-lh);
                margin-bottom: 10px;
            }
        }

        .bottom-box {
            margin-top: 40px;

            p {
                color: #737373;
            }

            .txt {
                font-size: var(--body16-fs);
                line-height: var(--body16-lh);

                span {
                    color: #fff;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .txt2 {
                font-size: var(--body13-fs);
                line-height: var(--body13-lh);
                letter-spacing: -1px;
                margin-top: 10px;

                span {
                    color: $blue-cl;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }

                    &.none {
                        display: none;
                    }
                }
            }

            .descCaptcha {
                font-size: var(--body13-fs);
                line-height: var(--body13-lh);
                letter-spacing: -1px;
                margin-top: 10px;
                transition: 1s all ease-in-out;
                opacity: 0;

                &.display {
                    opacity: 1;
                }
            }
        }

        @include sm {
            max-width: 100%;
            padding: 5%;
        }
    }
}